{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1>Les derniers biens</h1>
<div class="row flex">
  {% for property in properties %}
    <div class="col-3">
        {% include 'property/_property.html.twig' %}
    </div>
  {% endfor %}
</div>
{% endblock %}
