{% extends 'base.html.twig' %}

{% block title %}Editer{% endblock %}

{% block body %}
  <h2>Créer un nouvelle option</h2>
  {{ include('admin/option/_form.html.twig', { form: form, button: 'Ajouter' }) }}
{% endblock %}
