{% extends 'base.html.twig' %}

{% block title %}Editer{% endblock %}

{% block body %}
  <h2>Editer l'option</h2>
  {{ include('admin/option/_form.html.twig', { form: form, button: 'Editer' }) }}
{% endblock %}
